.dropdownMenu {
  display: inline-block;
}

.dropdownTrigger {
  cursor: pointer;
  /* Здесь можно задать стили для триггера (например, кнопка) */
  position: relative;

}

.dropdownContent {
  position: absolute;
  z-index: 1000;
  background: white;
  border: 1px solid #ddd;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 150px;
  height: 55px;
  padding: 5px 0;
  overflow: hidden;
}

.dropdownContent > * {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dropdownContent > *:hover {
  background-color: #f0f0f0;
}
