.app {
  margin: 20px 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  font-size: 40px;
  margin: 0;
  font-weight: 800;
  text-align: center;
  height: 20px;
}

.triggers {
  display: flex;
  justify-content: space-between;
}

.content {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.image {
  width: 300px;
  height: 300px;
  object-fit: contain;
  border-radius: 8px;
}

.text {
  font-size: 32px;
  font-weight: 800;
  font-style: normal;
  font-optical-sizing: auto;
  color: rgb(18, 24, 143);
  position: absolute;
  -webkit-text-stroke: 2px black;
  -webkit-text-fill-color: white;
  text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}

.inter {
  font-family: 'Inter', sans-serif;
}

.pressStart {
  font-family: 'Press Start 2P', sans-serif;
  font-size: 22px;
}

.caveat {
  font-family: 'Caveat', sans-serif;
}
