.list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto;
}

.item {
  padding: 0px 12px;
  margin: 0;
  cursor: pointer;
  transition: background-color 0.2s;
}

.item:hover {
  background-color: #6272d0;
}

.item:focus {
  outline: 2px solid #a3bad3;
  background-color: #e9f0ff;
}
